<%= form_with model: @portfolio, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "作品名" %><br />
    <%= f.text_field :title, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "キャッチコピー" %><br />
    <%= f.text_area :catch_copy, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :concept, "コンセプト" %><br />
    <%= f.text_area :concept, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :image, "作品の画像" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

 <div class="field">
    <%= f.label :youtube_link, "youtubeのリンク" %><br />
    <%= f.text_area :youtube_link, class: :form__text, id:"prototype_concept" %>
  </div>

<div class="field">
    <%= f.label :soundcloud, "soundcloud" %><br />
    <%= f.text_area :soundcloud, class: :form__text, id:"prototype_concept" %>
  </div>

<div class="field">
    <%= f.label :genre_id, "ジャンル" %><br />
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>


  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>