<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @portfolio.title%>
      </p>
      <%= link_to @portfolio.user.nickname, user_path(@portfolio.user_id), class: :prototype__user %>
      
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @portfolio.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_portfolio_path, class: :prototype__btn %>
          <%= link_to "削除する", portfolio_path, method: :delete, class: :prototype__btn %>
        </div>
       <% end %>

      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag @portfolio.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @portfolio.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @portfolio.concept %>
          </p>
        </div>

    <% if  @portfolio.youtube_link.present? %>
        <div class="prototype__detail">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@portfolio.youtube_link%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    <%end%>

      </div>
      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@portfolio, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text %>
              <%= link_to comment.user.nickname, user_path(comment.user_id), class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
