<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      
<div class="container">
  <div class="full">
    <div class="photo-container">
      <div class="row">
 
  <div class="d-block mx-auto">
    <img src=<%= @user.image %> class = "icon_image">
    <h2 class="text-white"><%= "#{@user.nickname}さんの情報"%></h2>
    <h3 class="follow_followers">
    <%= @user.follow_count %>
<%= link_to "フォロー", {controller: :users,action: :follow_list,user_id: @user.id},:style => "color:white;",method: :get %>
<%# #クリックすると、フォローリストに飛ぶ %>
<%= @user.followers_count %>
<%= link_to "フォロワー", {controller: :users,action: :follower_list,user_id: @user.id},:style => "color:white;", method: :get %>
<%# #クリックすると、フォロワーリストに飛ぶ %>
</h3>
<% if current_user.id != @user.id %>
<button type="button" class="btn btn-info">
  <%= render 'follow_form' %>
  </button>
<% end %>
<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
  <button class="btn btn-primary btn-round">
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
    </button>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>
        </div>
      </div>
    </div>
  </div>
</div>




<%# #ユーザーがカレントユーザーじゃなかったら、'_follow_form.html.erb'を表示 %>

<table>
  <tr>
    <th>名前</th>
    <td><%= @user.nickname %></td>
  </tr>
  <tr>
    <th>プロフィール</th>
    <td><%= @user.profile %></td>
  </tr>
  <tr>
    <th>職種</th>
    <td><%= @user.art_style %></td>
  </tr>
  <tr>
    <th>影響を受けたアーティスト</th>
    <td><%= @user.influenced_by %></td>
  </tr>
</table>

      <h2 class="page-heading">
        <%= "#{@user.nickname}の作品"%>
      </h2>
      <div class="user__card">
        <% @portfolios.each do |portfolio| %>
          <%= render partial:"portfolios/portfolio", locals: {portfolio: portfolio} %>
        <% end%>
      </div>
    </div>
  </div>
</div>